services:
  postgres:
    container_name: postgres
    image: postgres:15
    restart: always
    env_file:
      - ./.env
    ports:
      - "${POSTGRES_PORT}:${POSTGRES_PORT}"
    networks:
      - app-network

  redis:
    container_name: redis
    image: redis:alpine
    restart: always
    # command: ["redis-server", "--requirepass", "${REDIS_PASSWORD}"]
    env_file:
      - ./.env
    ports:
      - "${REDIS_PORT}:${REDIS_PORT}"
    networks:
      - app-network

  switter:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: switter
    volumes:
      - .:/app
    ports:
      - "${DJANGO_PORT}:${DJANGO_PORT}"
    env_file:
      - .env
    depends_on:
      - postgres
      - redis
      - feed-service
    networks:
      - app-network

  feed-service:
    build:
      context: feed-service
      dockerfile: Dockerfile
    container_name: feed-service
    volumes:
      - .:/app
    # ports:
    #   - "${DJANGO_PORT}:${DJANGO_PORT}"
    env_file:
      - .env
    depends_on:
      - postgres
      - redis
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  redis:
    driver: local